table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 5px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    background-color: lightslategray;
}

#billboard {
    font-style: italic;
    text-align: center;
}

.infoform {
    border: black solid 2px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    float: none;
    overflow: hidden;
}

.infotext {
    float: left;
}

.infoinput {
    float: right;
}

#productInfo table{
    margin: 0 auto;
    margin-top: 5%;
}

#productInfo button{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}
#productInfo p{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}